body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */

header {
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid slategray;
}

header h1 a {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: blueviolet;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: blueviolet;
    color: white;
}

.user-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-section a {
    text-decoration: none;
    color: blueviolet;
    margin-right: 15px;
}

.user-section a:hover {
    background-color: #d6e4ff;
    color: #007bff;
}

/* END OF HEADER STYLES */



.container {
    display: flex;
    flex: 1 1 0;
}



/* SIDE NAV STYLES */

.side-nav {
    background-color: whitesmoke;
    border-right: 1px solid #ccc;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
}

.side-nav div {
    width: 100%;
}

.side-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.side-nav a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.side-nav a.active {
    color: white;
    background-color: slategray;
    font-weight: bold;
}

.side-nav a:hover {
    background-color: #d6e4ff;
    color: #007bff;
}

/* END OF SIDE NAV STYLES */

/* MAIN STYLES */

main {
    flex: 1 1 0;
    padding: 20px;
    background-color: white;
}

/* END OF MAIN STYLES */

/* FOOTER STYLES */

footer {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: slategray;
}

footer a:hover {
    text-decoration: underline;
}

/* UTIL CLASSES */

.red-text {
    color: red;
    font-weight: bold;
}

.go-to-login {
    text-decoration: none;
    color: blueviolet;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
}

.go-to-login:hover {
    background-color: blueviolet;
    color: white;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}